
<section class="adverts-wrapper">

    {{#if title}}
        <h1>{{title}}</h1>
    {{else}}
        <h1>Recruiter advertisments</h1>
    {{/if}}

    <form action="/search" method="GET">
            <div class="input-group">
                <input class="form-input" type="text" placeholder="Search..." name="q">
                <input type="hidden" name="type" value="Recruiter">
                
                <button class="btn btn-primary btn-search input-group-btn">Search</button>
            </div>
    </form>

    <div class="divider"></div>

    <table class="table">

        {{#if adverts.length}}
            <thead>
            <tr>
                <th>Description</th>
                <th>Field</th>
                <th>Deadline date</th>
            </tr>
            </thead>

            {{#each adverts}}
                <tbody>
                    <tr>
                    <td><a href="/internships/advert/{{this.id}}?type=recruiter">{{this.title}}</a></td>
                    <td>{{this.field}}</td>
                    <td>{{this.deadline_date}}</td>
                    </tr>
                </tbody>
            {{/each}}

        {{else}}
            <h2>No adverts found.</h2>
        {{/if}}
    </table>

</section>
