<div class="columns col-xl">
    <div class="column col-1"></div>
    <div class="column col-10 col-md-12">
        <h3>View student advert</h3>
        {{#if validationErrors.length}}
        <div class="toast toast-error">
            {{validationErrors}}
        </div>
        {{/if}}
        {{#if Post}}
            <div class="card">
                <div class="columns">
                    <div class="column col-1"></div>
                    <h2 class="column col-7"><a href="/creator/{{Post.posted_by}}?type=student">{{Post.title}}</a></h2>
                    <div class="column col-4">
                        {{#if ../deleteOrUpdate}}
                            <form action="/delete/advert" method="POST">
                                <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                                <input type="hidden" name="id" value="{{Post.id}}">
                                <div class="form-group">
                                    <input class="form-submit" type="submit" placeholder="Delete" value="Delete">
                                </div>
                            </form>
                            <a href="/update/advert?type=student&id={{Post.id}}">Update</a>
                        {{/if}}
                    </div>
                </div>
                <div class="columns">
                    <div class="column col-1"></div>
                    <p class="column col-3">Field: {{Post.field}}</p>
                    <p class="column col-4">Contact: {{Post.contact}}</p>
                    {{#if ../sendMessageHidden}}
                    {{else}}
                    <p class="column col-3">Ask something: <a href="/send/chat/{{Post.posted_by}}">Chat</a></p>
                    {{/if}}
                    <div class="column col-1"></div>
                </div>
                <div class="columns">
                    <div class="column col-1"></div>
                    <div class="column col-10">Dates: {{Post.start_date}} - {{Post.end_date}}</div>
                    <div class="column col-1"></div>
                </div>
                <div class="card-body" id="card-content">
                    <p>Description:</p>
                    {{Post.body}}
                </div>
            </div>
        {{else}}
        <h1>No advert</h1>
        {{/if}}
    </div>
    <div class="column col-1"></div>
</div>