{{#if searchBarHidden}}
<br>
{{else}}
<header class="navbar columns">
    <section class="navbar-section column col-2"></section>
    <section class="navbar-center column col-8">
        <form action="/search" method="GET" class="column">
        <div class="input-group input-inline column col-12">
            <select class="form-select column col-2" id="option" name="type">
                <option>student</option>
                <option>recruiter</option>
            </select>
            <input class="form-input" type="text" placeholder="search" name="q" value="{{search}}">
            <button class="btn btn-primary input-group-btn">Search</button>
        </div>
        </form>
    </section>
    <section class="navbar-section column col-2"></section>
</header>
<br>
{{/if}}
<div class="columns col-xl">
    <div class="column col-3"></div>
    <div class="column col-6 col-md-12">
        <h3>View student adverts</h3>
        {{#if validationErrors.length}}
        <div class="toast toast-error">
            {{validationErrors}}
        </div>
        {{/if}}
        {{#if Posts.length}}
            {{#each Posts}}
                <div class="card">
                    <div class="columns">
                        <div class="column col-1"></div>
                        <h2 class="column col-7"><a href="/advert/{{this.id}}?type=student">{{this.title}}</a></h2>
                        <div class="column col-4">
                            {{#if ../deleteOrUpdate}}
                                <form action="/delete/advert" method="POST">
                                    <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                                    <input type="hidden" name="id" value="{{this.id}}">
                                    <div class="form-group">
                                        <input class="form-submit" type="submit" placeholder="Delete" value="Delete">
                                    </div>
                                </form>
                                <a href="/update/advert?type=student&id={{this.id}}">Update</a>
                            {{/if}}
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column col-1"></div>
                        <p class="column col-3">Field: {{this.field}}</p>
                        <p class="column col-4">Contact: {{this.contact}}</p>
                        {{#if ../sendMessageHidden}}
                        {{else}}
                        <p class="column col-3">Ask something: <a href="/send/chat/{{this.posted_by}}">Chat</a></p>
                        {{/if}}
                        <div class="column col-1"></div>
                    </div>
                    <div class="columns">
                        <div class="column col-1"></div>
                        <div class="column col-10">Dates: {{this.start_date}} - {{this.end_date}}</div>
                        <div class="column col-1"></div>
                    </div>
                    <div class="card-body" id="card-content">
                        <p>Description:</p>
                        {{this.body}}
                    </div>
                </div>
                <br>
            {{/each}}
        {{else}}
        <h1>No adverts yet</h1>
        {{/if}}
    </div>
    <div class="column col-3"></div>
</div>