<div class="column">
      <div class="column col-11 col-sm-12">
        {{#if message}}
            <h3>{{message}}</h3>
        {{/if}}
        {{#if Chats.length}}
            {{#each Chats}}
                <div class="card">
                    <div class="card-header">
                        <div class="card-subtitle text-gray">
                            <ul>
                                <li>{{this.sender_id}}</li>
                                <li>{{this.receiver_id}}</li>
                                <li>{{this.created_at}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body" id="card-content">
                        {{{this.content}}}
                    </div>
                    <br>
                </div>
            {{/each}}
        {{else}}
        <h1>No chat messages yet</h1>
        {{/if}}
    </div>
</div>